#admin{
	width: 71.5%;
	margin-left: 15%;
	border-radius: 5px; 
}

#adminhead{
	background-color: #669999;
	box-shadow: 0px 5px 5px rgba(0,0,0,.1);
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#adminbody{
	 border: 5px solid #000060;
	 padding: 10px;
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 285px;
    overflow: auto;
}

#left{
	background-color: gray;
	border-radius: 5px;
	padding: 5px;
	width: 98%;
	text-align: center;
	margin: 2px;

}

#adminbody button{
	margin: 2.5px;
	border-radius: 5px;
    padding: 10px;
    text-align: center;
    width:16%;
}

#adminbody button:hover{
   background-color: #9966FF;
}
 

#right{
	width: 98%;
	background-color: #999966;
	border-radius: 5px;
	position: relative;
	margin-left: 2px;
	padding: 5px;
	height: 360px;
	overflow: auto;
}

